
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    width: 100%;
    height: 100vh;
}

.view {
    margin: 10px auto;
    max-width: 1200px;
}
#header {
    font-size: 30px;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000;
    color:#B1EDFB;
    letter-spacing: 5px;
}
header {
    margin: 0;
    height: 6em;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to right,#7DDFF6, #30C3E6) ;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px #888888;
}

.atop {
    text-decoration: none;
    color: #1869D8;
}

.atop:hover {
    color:#FFA207;
}
#nav_top {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px #888888;
    height: 32px;
    font-size: 15px;
    background-color: #B5D2FB;
    width: 600px;
    left: 0;
    right: 0;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#tophr {
    margin-top: 30px;
    border-top: 2px solid #1869D8;
}

#bothr {
    border-top: 2px solid #1869D8;
    margin: 0;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:10px;
}
.formContainer>div {
    margin-left: auto;
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}

#radiogroup {
    margin-left: 0;
    margin-right: 219px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {
    display: inline-block;
    border: 1px solid #000000;
    padding: 3px;
    width: 300px;
}

ul {
    padding: 10px;
}

li {
    display: block;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: 40px;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.arrowBtn {
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}

.bodyContainer {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 360px;
    grid-template-rows: auto;
    width: 100%;
}

#side {
    margin: 0;
    padding: 0;
}

#main {
    
}

hr.vertical {
    width: 0px;
    height: 100%;
    float: left;
    border-left: 2px dotted #1869D8;
  }

#dkhp_tit {
    color: #FFA207;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top:15px;
}
#dkhp_hr {
    border-top: 1.5px solid #808080;
}
