* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
}

.view {
    margin: 10px auto;
    max-width: 1200px;
}

#header {
    font-size: 30px;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000;
    color: #B1EDFB;
    letter-spacing: 5px;
}

header {
    margin: 0;
    height: 6em;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #7DDFF6, #30C3E6);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px #888888;
}

.atop {
    text-decoration: none;
    color: #1869D8;
}

.atop:hover {
    color: #FFA207;
}

#nav_top {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px #888888;
    height: 32px;
    font-size: 15px;
    background-color: #B5D2FB;
    width: 600px;
    left: 0;
    right: 0;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#tophr {
    margin-top: 30px;
    border-top: 2px solid #1869D8;
}

#bothr {
    border-top: 2px solid #1869D8;
    margin: 0;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.formContainer>div {
    margin-left: auto;
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}

#radiogroup {
    margin-left: 0;
    margin-right: 319px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    display: inline-block;
    border: 1px solid #000000;
    padding: 3px;
    width: 400px;
}

ul {
    margin: 10px;
    padding: 10px;
}

li {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    width: 380px;
    height: 30px;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #888888;
}

.arrow_button {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.arrow_button>button {
    width: 30px;
    height: fit-content;
    margin: 5px;
    text-align: center;
    color: #9510D9;
    border: 1px solid #FFA207;
    border-radius: 3px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.arrow_button>button:hover {
    border: 1px solid #b07207;
}

.bodyContainer {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 70% 360px;
    grid-template-rows: auto;
    width: 100%;
}

#side {
    margin: 0;
    padding: 0;
}

#main {

}

hr.vertical {
    width: 0px;
    height: 100%;
    float: left;
    border-left: 2px dotted #1869D8;
}

#dkhp_tit {
    color: #FFA207;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.grayhr {
    border-top: 1.5px solid #808080;
}

.subject {
    display: flex;
    justify-content: center;
    color: #FFA207;
    font-weight: bold;
}

#sub1 {
    margin-right: 0px;

}

#sub2 {
    margin-left: 50px;
}

.list {
    display: flex;
    justify-content: center;
}

.DKXH {
    display: flex;
    justify-content: center;
}
.DKXH>button {
    width: 90px;
    height: fit-content;
    margin: 10px;
    text-align: center;
    color: #9510D9;
    border: 1px solid #FFA207;
    border-radius: 3px;
}
.DKXH>button:hover {
    border: 1px solid #b07207;
}

th, td {
    padding: 10px;
}

table {
    width: 100%;
    padding: 5px;
}

thead {
    background-color: #FFA207;
    color: #ffffff;
}
  
  tbody tr:nth-child(even){
    background-color: #FFD8B1;
    color: #000000;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

footer {
    display: flex;
    justify-content: center;
    background-color: #FFE2B1;
    color:#FFA207;
    margin-top: 5px;
}

.abot {
    color: #FFA207;
}
.abot:hover{
    color: #ffffff;
    background-color: #FFA207;
}
.ui-icon
{
    background-image: url(/icons/ui-icons_ffffff_256x240.png);
}
.news {
    color: #FFA207;
}
.newscontainer {
    background-color: #FFE2B1;
    border: 0.1px solid #FFCF7E;
    margin: 1px;
    font-size: larger;
}